@import "../../src/scss/variables.scss";
@import "../../src/scss/breakpoints.scss";

.services {
  background: $light-grey;
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 40px 0px 20px 0px;
  }
  .img-card {
    padding-top: 180px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    @include bp-tablet-sm {
      margin-bottom: 20px;
    }
    a {
      color: $white;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $light-blue;
      }
    }
    i {
      font-size: 16px;
      padding-left: 5px;
    }
  }
}
