@import "../scss/variables.scss";
@import "../scss/breakpoints.scss";

// General

.pd-t-10-mb {
  @include bp-tablet-sm {
    padding-top: 10px;
  }
}

select {
  padding: 10px;
  border: 1px solid #ced4da;
  color: #495057;
}
