@import "../scss/breakpoints.scss";
@import "../scss/variables.scss";

* {
  font-family: $montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 300;
  @include bp-tablet-sm {
    line-height: 1.6;
    text-align: left;
  }
}

hr {
  border-bottom: 1px solid $light-blue;
  margin-top: 30px;
  width: 75px;
  @include bp-tablet-sm {
    margin-top: 10px;
    margin-left: 0px;
  }
}

a,
p,
ol,
ul {
  font-size: 18px;
  line-height: 1.8;
}

p,
ul,
ol {
  color: $dark-grey;
}

a {
  transition: 0.2s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-size: 60px;
  @include bp-tablet-sm {
    font-size: 30px;
  }
}

h2 {
  font-size: 36px;
  @include bp-tablet-sm {
    font-size: 24px !important;
  }
}

h3 {
  font-size: 28px;
  @include bp-tablet-sm {
    font-size: 24px !important;
  }
}
