@import "../scss/breakpoints.scss";

$montserrat: "Montserrat", serif;
$blue: #22a0e5;
$light-blue: #00daff;
$white: #fff;
$dark-grey: #515151;
$black: #000;
$light-grey: #f5f5f5;
$footer: #1e2326;
